@model List<Rooms>
@{
    ViewData["Title"] = "Index";
}

<center>
    <h1>Room List</h1>
    <br /> <hr /> <br />
    <p><a asp-action="AddNewRoom" asp-controller="Rooms">Add New Room</a></p>
    <br />
    <hr />
    <br />
    <table border="1">

        <tr style="background-color:yellow">
            <th>Room ID</th>
            <th>Room Type</th>
            <th>Room Image</th>
            <th>Room Price</th>
            <th>Room Size</th>
            <th>Room Capacity</th>
            <th>Room Description</th>
            <th>Delete Action</th>
            <th>Edit Action</th>
        </tr>

            @foreach(var singleroom in Model)
            {
                <tr>
                    <td>@singleroom.RoomId</td>
                    <td>@singleroom.RoomType</td>
                    <td>@singleroom.RoomImage</td>
                    <td>@singleroom.RoomPrice</td>
                    <td>@singleroom.RoomSize</td>
                    <td>@singleroom.RoomCapacity</td>
                    <td>@singleroom.RoomDescription</td>

                    <td><a asp-action="deletepage" asp-controller="Rooms" asp-route-fid="@singleroom.RoomId"><button>Delete</button></a></td>
                    <td><a asp-action="editpage" asp-controller="Rooms" asp-route-fid="@singleroom.RoomId"><button>Edit</button></a></td>
                </tr>
            }

    </table>
</center>

