@model List<Rooms>
@{
    ViewData["Title"] = "Index";
}

<!-- Breadcrumb Section Begin -->
<div class="breadcrumb-section">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="breadcrumb-text">
                    <h2>Rooms</h2>
                    <div class="bt-option">
                        <a href="/Home/Index">Home</a>
                        <span>Rooms</span>
                    </div>
                </div>
                @if (User.IsInRole("Admin"))
                {
                    <div class="text-right">
                    <a asp-action="AddNewRoom" asp-controller="Rooms" class="btn btn-lg primary-btn" style="color:#333;">Add New Rooms &rarr;</a>
                    </div>
                }
                
            </div>
        </div>
    </div>
</div>


<section class="rooms-section spad">
    <div class="container">
        <div class="row">
        @foreach (var singleroom in Model)
        {
       
            <div class="col-lg-4 col-md-6">
                <div class="room-item">
                        <img src="@singleroom.RoomImage" alt="">
                    <div class="ri-text">
                        <h4>@singleroom.RoomType</h4>
                        <h3>RM @singleroom.RoomPrice<span>/Pernight</span></h3>
                        <table>
                            <tbody>
                                <tr>
                                        <td class="r-o">Size:</td>
                                        <td>@singleroom.RoomSize m²</td>
                                        
                                </tr>
                                <tr>
                                    <td class="r-o">Capacity:</td>
                                    <td>@singleroom.RoomCapacity</td>
                                </tr>
                                    <tr>
                                        <td class="r-o">Beds:</td>
                                        <td>@singleroom.Bed</td>
                                    </tr>
                                <tr>
                                    <td class="r-o">Services:</td>
                                    <td>@singleroom.Services</td>
                                </tr>

                            </tbody>
                        </table>
                        <a href="#" class="primary-btn">More Details...</a>
                        <br/>
                        <br/>
                            @if (User.IsInRole("Admin"))
                            {
                                <div class="form-group text-center">
                                    <a asp-action="deletepage" asp-controller="Rooms" asp-route-fid="@singleroom.RoomId" class="btn btn-lg site-btn float-right">Delete</a>
                                    <a asp-action="editpage" asp-controller="Rooms" asp-route-fid="@singleroom.RoomId" class="btn btn-lg site-btn float-left">Edit</a>
                                </div>
                            }
                            

                    </div>
                </div>
            </div>


            }
        </div>
    </div>
</section>
<!-- Rooms Section End -->

