@model List<KeyValuePair<BookingInformation, string>>
@{
    ViewData["Title"] = "viewMessages";
}

<style>
    .form-space {
        margin-top: 20px; /* Adjust the margin-top value to control the amount of space */
    }
</style>

<!-- Breadcrumb Section Begin -->
<div class="breadcrumb-section">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="breadcrumb-text">
                    <h2>Booking Requests</h2>
                    <div class="bt-option">
                        <a href="/Home/Index">Home</a>
                        <span>Booking Requests</span>
                    </div>
                </div>
               

            </div>
        </div>
    </div>
</div>

<div class="col-md-12">
    <div class="contact-form">
       
        <table class="table table-hover">
            <tr>
                
                <th>
                    Booking ID
                </th>

                <th>
                    Room Type
                </th>

                <th>
                    Room Price
                </th>
                <th>
                    Name
                </th>
                <th>
                    Email
                </th>
                <th>
                    Contact Number
                </th>
                <th>
                    Check In Date
                </th>
                <th>
                    Check Out Date
                </th>
                <th>
                    Pax
                </th>
                <th>
                    Action
                </th>

            </tr>

            @foreach (var item in Model)
            {
                <tr>
                    <td>@item.Key.BookingId</td>
                    <td>@item.Key.RoomType</td>
                    <td>@item.Key.RoomPrice</td>
                    <td>@item.Key.BookingCustName</td>
                    <td>@item.Key.BookingContactEmail</td>
                    <td>@item.Key.BookingContactNumber</td>
                    <td>@item.Key.CheckInDate</td>
                    <td>@item.Key.CheckOutDate</td>
                    <td>@item.Key.pax</td>

                    <td>

                        <a class="btn-dark" asp-action="deleteMessage" asp-controller="Booking" asp-route-deleteid="@item.Value" asp-route-word="accept">Confirm Booking</a>
                        <a class="btn-dark" asp-action="deleteMessage" asp-controller="Booking" asp-route-deleteid="@item.Value" asp-route-word="decline">Decline Booking</a>
                    </td>
                </tr>
            }

        </table>
    </div>
</div>

